/*  beginning Web 2.0 drupal 6.x theme, 
created by robin / biboo.net /  gazwal.com  */
/* ../admin/build/block  */
body.page-admin .block-region {
	border: 3px dashed #ff0b0b;
	color: #000000;
	background-color: #feff1e;
}

ul.tabs {
	padding-top: .7em;
	background-image: none!important;
}

.node-form {
	margin-bottom: 1em;
}

table {
	margin: 1em 0;
	width: 100%;
}

dl {
	margin: 0.5em 0 1em 1.5em;
}

dl dd {
	border-bottom: 1px solid #e8e5df;
	margin: 0 0 .5em 1.5em;
	padding-bottom: 0.3em;
	color: #777777;
	font-size: 0.9em;
}

thead th {
	border-bottom: 2px solid #8695a1;
	color: #494949;
	font-weight: 700;
}

th a:link, th a:visited {
	color: #6f9dbd;
}

td,th {
	padding: .3em;
}

tr.even, tr.odd, tbody th {
	border: solid #d5d6d7;
	border-width: 1px 0;
}

tr.even {
	background-color: #ffffff;
}

tr.drag {
	background-color: #fffff0;
}

tr.drag-previous {
	background-color: #ffffdd;
}

tr.odd td.active {
	background-color: #ddecf5;
}

tr.even td.active {
	background-color: #e6f1f7;
}

/*   disable  */
tr.odd td.menu-disabled {
	background-color: #ffdfdf;
}

tr.even td.menu-disabled {
	background-color: #ffdfdf;
}

/*********************/
tr.menu-disabled {
	background-color: #ffdfe6;
}

td.content-field-overview-enabled, td.content-field-overview-disabled {
	border-right: 1px solid #d3d3d3;
}

td.region,td.module,td.container, td.category {
	border-bottom: 1px solid #aaaaaa;
	border-top: 1.5em solid #ffffff;
	color: #455067;
	background: #cdd6de;
	font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container,
tr:first-child td.category {
	border-top-width: 0;
}

/*********************************/
.box {
	margin-bottom: 2.5em;
}

.profile dd {
	margin-bottom: 1.6em;
}

#autocomplete li {
	padding: 2px;
	cursor: default;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
	background: #027ac6;
	color: #ffffff;
}

/*  fieldset  */
fieldset {
	border: 1px solid #b5b5b5;
	margin: 1em 0;
	padding: 1em;
	background: #ffffff;
}

fieldset legend {
	display: block;
}

html.js fieldset.collapsed {
	padding-bottom: .6em;
	padding-top: 0;
	background: transparent;
}

html.js fieldset.collapsible legend a {
	padding-left: 1.4em;
	background: url(images/menu-expanded.gif) no-repeat 0 50%;
}

html.js fieldset.collapsed legend a {
	background: url(images/menu-collapsed.gif) no-repeat 0 50%;
}

/*******************************/
div.admin .left {
	float: left;
	width: 47%;
}

div.admin .right {
	float: right;
	width: 47%;
}

div.admin-panel {
	background: none;
}

div.admin-panel .description {
	margin-bottom: 1.5em;
}

div.admin-panel dd {
	margin-bottom: .65em;
	margin-top: -0.2em;
	margin-left: 0;
	color: #898989;
	font-size: 0.92em;
	line-height: 1.3em;
}

/********************************/
tr.selected td a:link,tr.selected td a:visited,tr.selected td a:active {
	color: #d3e7f4;
}

tr.taxonomy-term-divider-top {
	border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
	border-top: 1px dotted #cccccc;
}

table.system-status-report th {
	border-color: #d3e7f4;
}

.form-item input.error, .form-item textarea.error {
	border: 1px solid #c52020;
	color: #363636;
}

table.system-status-report tr.error, table.system-status-report tr.error th {
	border-color: #eebbbb;
	background-color: #ffcccc;
	color: #220000;
}

table.system-status-report tr.warning,table.system-status-report tr.warning th {
	border-color: #eeeebb;
	background-color: #ffffdd;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
	border-color: #bbeebb;
	background-color: #ddffdd;
}

/*  messages, preview, description
********************************************************/
div.messages {
	border: 1px solid #b8d3e5;
	padding: .75em 1.25em;
	margin: 1em 0;
	padding-left: 62px;
	background: url(icons/large-alert.png) #ffffff no-repeat 1em 50%;
}

div.messages li, div.error {
	padding-left: 0;
	list-style: none;
	background-image: none;
}

div.status {
	border-color: #00bb02;
	padding: .75em 1.25em .75em 55px;
	color: #164b83;
	background: url(icons/large-info.png) #edffdb no-repeat 1em 50%;
}

div.error {
	border-color: #d88888;
	padding: .75em 1.25em .75em 55px;
	color: #ba1212;
	background: url(icons/large-stop.png) #f8e7e7 no-repeat 1em 50%;
}

.preview {
	border: 1px solid #e5e58f;
	padding: .25em 1.25em;
	margin: 1em 0;
	background-color: #fdfddd;
}

.description {
	margin-bottom: 0.75em;
	color: #707070;
	font-size: 0.92em;
	line-height: 150%;
}

