/*  beginning Web 2.0 drupal 6.x theme, 
created by robin / biboo.net /  gazwal.com  */
#footer {
	border-top: 1px solid #bdbdbd;
	background: #ececec;
}

.footer-block {
	margin: .8em 3px;
	float: left;
	width: 23%;
	min-width: 230px;
}

#footer .footer-block, #footer .block {
	background-color: #ffffff;
}

/*  primary links in footer => div#bottom-primary  
**************************************************/
#bottom-primary {
	border-top: 1px solid #bdbdbd;
	background: #d7d5f2;
}

/*  footer message  */
#footer-message {
	padding: .4em;
}

