/*  beginning Web 2.0 drupal 6.x theme, 
created by robin / biboo.net /  gazwal.com  */
/* first region => div#header-region  */
#header-region {
	margin: .7em;
}

/*  secondary links => div#top-bar 
****************************************************/
#top-bar {
	border-bottom: 1px solid #bdbdbd;
	background: #d7d5f2;
	height: 22px;
}

#top-bar ul.secondary-links {
	float: right;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	height: 22px;
}

#top-bar ul.secondary-links li {
	float: left;
}

#top-bar ul.secondary-links li a, #top-bar ul.secondary-links li a:link,
#top-bar ul.secondary-links li a:visited {
	float: left;
	display: block;
	color: #454545;
}

/*     header
****************************************/
#header {
	background-color: #ececec;
	height: 113px; /* adjust your own height, depends on your personnal logo.png height and div#top-bar height  */
}

#header h1 {
	padding-top: 9px;
	line-height: 1.6em;
	position: absolute;
}

/*  if site name is displayed  */
#header h1 span.site-name {
	font-size: 1.3em;
}

/*  if site slogan is displayed  */
#header h1 span.site-slogan {
	font-style: italic;
	font-size: .9em;
}

/*  primary links => div#top-primary  
**************************************************/
#top-primary ul.primary-links {
	float: right;
	margin-top: 45px; /* define your own position from the top, also depends on #header height */
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#top-primary ul.primary-links li {
	float: left;
}

#top-primary ul.primary-links li a, #top-primary ul.primary-links li a:link,
#top-primary ul.primary-links li a:visited {
	float: left;
	display: block;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	line-height: 55px;
	height: 34px;
}

